<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Home</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#">Home</a></li>
				<li><a href="#">Library</a></li>
				<li class="active">Data</li>
			</ol>
		</div>
		<div class="row">
			<h1>UID: <code><%= uid %></code></h1>
			<% if(typeof clients != 'undefined') { %>
			<form class="form-horizontal" role="form" enctype="multipart/form-data" method="post">
				
				<div class="form-group">
					<label class="col-sm-2 control-label">Torrent</label>
					<div class="col-sm-3">
						<input type="file" name="t">
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-2 control-label">Client</label>
					<div class="col-sm-3">
						<select class="form-control" name="client">
							<% for (var i in clients) { %>
								<option value="<%= i %>"><%= i %></option>
							<% } %>
						</select>
						<input type="hidden" name="uid" value="<%= uid %>">
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-2 control-label">&nbsp;</label>
					<div class="col-sm-3">
						<input type="submit" value="Submit" class="btn btn-default">
					</div>
				</div>
				
			</form>
			<% } %>
		</div>
	</div>
</body>
</html>