<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Login</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="/">Home</a></li>
				<li class="active">Signin</li>
			</ol>
		</div>
		<div class="row">
			<form class="form-horizontal" role="form" method="post" id="signinForm">
				<div class="form-group">
					<label class="col-sm-2 control-label">&nbsp;</label>
					<div class="col-sm-6">
						<p id="message" class="message"></p>
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-2 control-label">Email</label>
					<div class="col-sm-3">	
						<input type="email" name="email" class="form-control" required value="<%if(typeof user != 'undefined'){%> <%= user %> <%}%>">
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-2 control-label">Password</label>
					<div class="col-sm-3">
						<input type="password" name="pwd" class="form-control" required>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-2 control-label">&nbsp;</label>
					<div class="col-sm-3">
						<input type="submit" value="Submit" class="btn-default btn">
					</div>
				</div>

			</form>
		</div>
	</div>
<script>
$(function(){
	$('#signinForm').on('submit', function(e){
		e.preventDefault();
		var $this = $(this);
		$.ajax({
			url: $this.attr('action'),
			type: 'post',
			data: $this.serialize(),
			dataType: 'json'
		}).done(function(res){
			if (res.status) {
				document.location.href = '/';
			} else {
				$('#message').removeClass('text-success').addClass('text-danger').text('Server response error: '+res.msg);
			}
		})
	})
})
</script>
</body>
</html>